*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    
}
 header .tittle-Michis h1{
    width: 100%;
    height: auto;
    font-size: 8.4rem;
    text-align: center;
    color: #092635;
}
.main{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.MichisAleatorios {
    height: 450px;
}
.MichisAleatorios img {
    width: 180px;
    transition: all .5s;
}
.MichisAleatorios img:hover{
   transition: all .5s;
   transform: scale(1.2);
}
.MichisAleatorios h2{
    font-size: 4.0rem;
    text-align: center;
    margin-bottom: 8px;
    color: #1B4242;
}
.MichisAleatorios .ramdom-img{
    
}
.MichisAleatorios .ramdom-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.MichisAleatorios .ramdom-img button {
    margin-bottom: 12px;
    margin-top: 12px;
    width: 170px;
    height: 40px;
    border: none;
    background-color: #5C8374;
    color: white;
    font-size: 1.6rem;
    transition: all .5s;
}
.MichisAleatorios .ramdom-img button:hover {
    transition: all .5s;
    transform: scale(1.1);
    color: #5C8374;
    background-color: white;
}
.favoritesMichi h2{
    font-size: 4.0rem;
    text-align: center;
    margin-bottom: 8px;
    color: #1B4242;
}
.favoritesMichi article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.favoritesMichi article button{
    width: 170px;
    height: 40px;
    border: none;
    background-color: #5C8374;
    color: white;
    font-size: 1.6rem;
    transition: all .5s;
    margin-bottom: 8px;
    margin-top: 8px;
}
.favoritesMichi article button:hover{
    transition: all .5s;
    transform: scale(1.1);
    color: #5C8374;
    background-color: white;
}


